<div class="login"> 
    <div class="card" class="shadow p-3 mb-5 bg-body rounded" style="width: 23rem; margin-top: 60px; margin-left: auto;margin-right: auto;">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <h1 class= "header1">Prism System  </h1>
                    <br>
                    <input type="email" placeholder="User Name" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="password" class="form-control"  id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                    <br>
                    <button type="submit" class="btn btn-primary" class="submit" routerLink="/room">Login</button>
                    <br><br>
            </form>
        </div>
    </div>
</div>   
