<main role="main" class="container main-container">
  <div class="starter-template text-center">
      <h1 class="main-topic m-0">Welcome to</h1>
      <br>
      <div class= "header">
        <h1 class= "header">Prism System </h1>
    </div>
    <br> <br><br>
      <div class="c-Block z-Search z-Padding4 app-list-wrapper">
          <div class="row">
            <div
                  class="_content"
                  routerLink="/roomtype"
            >
                  <img src="assets/img/hskp-app.png" class="img-fluid mx-auto d-block" alt="hskp-app" width="96px" />
                  <h4>Room Manager</h4>
            </div>
            <div class="_content" routerLink="/guest" >
                  <img src="assets/img/frondesk-user.png" class="img-fluid mx-auto d-block" alt="front-desk" width="96px" />
                  <h4>Guest Manager</h4>
            </div>
            <div class="_content" routerLink="/inventory" >
                <img src="assets/img/iconSalesnCatering.png" class="img-fluid mx-auto d-block snc-img" alt="front-desk" />
                <h4 class="subtitle">Inventory Manger</h4>
            </div>
            <div
                    class="_content"
                    routerLink="/hskp"
                >
                    <img src="assets/img/hskp-mgr.png" class="img-fluid mx-auto d-block" alt="hskp-manager" width="96px" />
                    <h4>HSKP Manager</h4>
                </div>
                <div class="_content" routerLink="/reservation">
                    <img
                        src="assets/img/HPOS_Icon_150dpi.png"
                        class="img-fluid mx-auto d-block hpos-img"
                        alt="front-desk"
                        width="96px"
                    />
                    <h4>Reservation Manger</h4>
                </div>
              
          </div>
      </div>

      <br> <br>
      
      <div class="row action-wrapper">
        <div class="col d-flex end">
            <span class="logout-link" routerLink="/report" ><b>Report</b></span>
        </div>
        <div class="col d-flex">
            <span class="logout-link" routerLink="/" ><b>Logout</b></span>
        </div>
    </div>
  </div>
</main>
