<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light firstNavBar" id="firstNavBar" >
  <div class="container-fluid">
      <div class= "header">
          <h1 class= "header">Prism System </h1>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link deactive" routerLink="/guest">Guest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/roomtype">Room</a>
          </li>
          <li class="nav-item">
            <a class="nav-link deactive" routerLink="/dashboard" >Dash-Board</a>
        </li>
        </ul>
          <img src="assets/img/f.jpg" alt="Avatar" >
      </div>      
  </div>
</nav>

<!-- Nav Bar2 -->
<nav class="navbar navbar-expand-lg secondNavBar" id ="secondNavBar">
  <div class="container-fluid">
    <div class="bar">
      <img class="img" src="assets/img/room.jpg">
      <h2 class ="pagename" ><b>Room Type </b></h2>
    </div>

    <div class="input-group rounded search">
      <input type="search" class="form-control searchBox" placeholder="Search" [(ngModel)]="searchText"  />
        <span id="searchIcon" class="input-group-text border-0">
            <i class="fas fa-search"></i>
        </span>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <!-- Side Bar -->
  <div class="row" >
    <div class="col-md-2 no-float" id="sidebar">
      <p>
        <mat-toolbar>
          <span class="example-spacer"></span>
          <mat-icon  (click)="open(addRoomTypeModal)"  (click)="clearModalData() " >add</mat-icon>
        </mat-toolbar>
      </p>
      <!-- room type Add modal-->
      <ng-template #addRoomTypeModal let-modal >
        <div class="modal-body">
          <h2 class="text-center" ><b>Room Details</b></h2>
          <form [formGroup]="Roomtypeform">
            <div class="form-group mb-3">
              <label>Room Type Name:</label>
              <input type="text" class="form-control" formControlName="name">
              <span class="error" *ngIf="validation.name.invalid && validation.name.touched" >
                <small>  Room Type Name is required!</small>
              </span>
            </div>
            <div class="form-group mb-3">
              <label >Code :</label>
              <input type="text" class="form-control" formControlName="code">
              <span class="error" *ngIf="validation.code.invalid && validation.code.touched" >
                <small>Code is required!</small> 
              </span>
            </div> 
          </form>
        </div>
        <div class="modal-footer">
          <button  id="Cancel" type="button"  (click)="clearModalData()"  (click)="modal.close('Save click')">Cancel</button>     
          <button id="btn" type="button" [disabled]="Roomtypeform.invalid" (click)="submitForm()" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>

      <!-- room type display-->     
      <div *ngFor = "let roomtype of roomtypes">
        <button class="btn roomtypebtn" (click)="getId(roomtype.id)" (click)="getName(roomtype.name)" [ngClass]="{'click': roomtype.id == RoomTypeID}"   ><b>{{roomtype.name}}</b>
          <mat-icon  [matMenuTriggerFor]="menu" id="icon">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <label mat-menu-item (click)="open(updateRoomTypeModal)">Edit</label>
            <!-- edit modal-->
            <ng-template #updateRoomTypeModal let-modal >
              <div class="modal-body">
              <h2 class="text-center" ><b>Room Details</b></h2>
                <form [formGroup]="Roomtypeform">
                  <div class="form-group mb-3">
                    <label>Room Type Name:</label>
                    <input type="text" class="form-control" [(ngModel)]="roomtype.name" formControlName="name">
                    <span class="error" *ngIf="validation.name.invalid && validation.name.touched" >
                      <small>  Room Type Name is required!</small>
                    </span>
                  </div>
                  <div class="form-group mb-3">
                    <label >Code :</label>
                    <input type="text" class="form-control" [(ngModel)]="roomtype.code"  formControlName="code">
                    <span class="error" *ngIf="validation.code.invalid && validation.code.touched" >
                      <small>Code is required!</small> 
                    </span>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button  id="Cancel" type="button"  (click)="cancel()"(click)="modal.close('Save click')">Cancel</button>     
                <button id="btn" type="button" [disabled]="Roomtypeform.invalid" (click)="UpdateRoom(roomtype.id)" (click)="modal.close('Save click')">Save</button>
              </div>
            </ng-template>

            <label mat-menu-item (click)="open(deleteRoomTypeModal)">Delete</label>
            <!-- delete modal-->
            <ng-template #deleteRoomTypeModal let-modal>
              <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel" style="color: #B21313;"><b>Confirmation</b></h2>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure to delete this Room Type ?
              </div>
              <div class="modal-footer">
                <button type="button" class="deletebtn btn-outline-dark" (click)="deleteRow()" (click)="modal.close('Delete click')">Delete</button>
              </div>
            </ng-template>
          </mat-menu>
        </button> <br><br><br>
      </div>
    </div>

    <div class="col no-float" id="main">
      <app-room [data]= "RoomTypeID" [Name]= "RoomTypeName" [search]="searchText"></app-room>
    </div>
  </div>
</div>

